<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"
        
    </head>
</html> -->

<!-- <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
        <!-- <link rel="stylesheet" href="../static/css/index.css"> -->
        <!-- <title>Document</title>
        <script></script>
        <script src="main.js"></script>

    </head>

    <body>
        <h2>title</h2>
    </body>
</html> -->

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css"  media="all" href= "{{ url_for('static',filename='styles/style.css') }}"/>
        
        <!--  Scripts  -->
    </head>
    <!-- <body>
        <div class="left">
            <div id="startButton" class="button">Start Recording</div>
            <h2>Preview</h2>
            <audio id="preview" width="160" height="120" autoplay muted></audio>
        </div>

        <div class="right">
            <div id="stopButton" class="button">Stop Recording</div>
            <h2>Recording</h2>
            <audio id="recording" width="160" height="120" controls></video>
            <a id="downloadButton" class="button"> Download </a>
        </div>
        <div class="bottom">
            <pre id="log"></pre>
        </div>
    </body>
    <script src="main.js"></script> -->

    <body>

        <div class="container">
            <h1>VOICE RECORDING APP</h1>
            <span>Recorder</span>
            <audio id="recorder" muted hidden></audio>
            <div>
                <button id="start">Record</button>
                <button id ="stop">Stop Recording</button>
            </div>
            <span>Saved Recording</span>
            <audio id="player" controls></audio>
            <h1> {{ features }}</h1>
        </div>
        
        


        <script type="text/javascript" src="{{ url_for('static',filename='main.js') }}" ></script>
    </body>
</html>

